* { box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  margin: 0rem;
}

.wrapper {
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 0rem;
  flex: 1 100%;
}


/*LOGO___________________________________________________*/

.logo {
  background-color: red;
  
}

.logo img {
  width: 50%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media all and (min-width: 37.5rem) {

.logo {
  background-color: black;
}

.logo img {
  float: left;
  background-color: red;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 25%;
  padding: 1rem;
}

}

@media all and (min-width: 50rem) {

.logo {
  background-color: black;
  padding-left: 2rem;
  padding-top: 2rem;
}
.logo img {
  width: 30%;
  padding-bottom: 1rem;
}

}


/*NAVIGATION___________________________________________________*/

.navigation {
  list-style: none;
  margin: 0;

  background: black;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: column wrap;
  padding: 0;
  font-family: 'Roboto';
}

.navigation a {
  padding-top: .5rem;
  padding-bottom:.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  border-top: solid white;
}

.navigation li {
}

.navigation a:hover {
  background: red;
  color: white;
  transition-duration: 200ms;
}

@media all and (min-width: 37.5rem) {

.navigation {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-end;
}
  
.navigation li {
  width: 7rem;
}

.navigation a {
  border: none;
}

}

@media all and (min-width: 50rem) {

.navigation {
    justify-content: flex-end;
}
.navigation a {
  padding-top: 4rem;
}
.navigation {
  padding-right: 2rem;
}

}

/*HEADER___________________________________________________*/

.header {
  background: red;
  color: white;
  font-size: 1.9rem;
  font-family: 'Nobile';
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/*HOME___________________________________________________*/

.main    { order: 2; }
.aside-2 { order: 1; }
.footer  { order: 3; }


.aside-2 {
  background: white;
  color: black;
  overflow-x: hidden;
}

.aside-2 img {
width: 90%;
}

.main {
  text-align: left;
  background: black;
  color: white;
  font-family: 'Roboto';
  line-height: 1.5rem;
  padding-top: 3%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

.main a {
  
  border-style: solid;
  border-color: white;
  border-radius: 0rem 0rem 0rem 0rem;
  font-size: 1rem;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 1rem; 
}

.main a:hover {
  background-color: red;
  color: white;
  transition-duration: 200ms;
}

.footer {
  background: red;
  color: white;
  font-size: 1rem;
  font-family: 'Roboto';
  padding: 1rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media all and (min-width: 37.5rem) {

.aside { flex: 1 auto; }
.main    { order: 2; }
.aside-2 { order: 1; }
.footer  { order: 3; }

.main {
  text-align: left;
  background: black;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

}

@media all and (min-width: 68.75rem) {

.footer {
  background: red;
  color: white;
  font-size: 1rem;
  padding: 1rem;
}

.main { flex: 1 0;

}

.main    { order: 1; }
.aside-2 { order: 2; }
.footer  { order: 3; }
  
.main {
  text-align: left;
  background: black;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.aside-2 {
  background: white;
  color: black;
  padding: 0rem;
  width: 40%;
}

}


/*ABOUT___________________________________________________*/
.about {
  background-color: black;
}

.about ul{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0rem;
  padding-left: 0rem;
}

.about ul li {
  list-style: none;
  padding: .25rem;
  font-size: 1rem;
  font-family: 'Roboto';
  color: white;
  width: 100%;
}

/*social media*/
.icons {
margin: auto;
text-align: center;
background-color: black;
}

.icons img {
  padding: .2rem;
  margin: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: .5rem;
  width: 3rem;
}

#face {
  text-align: center;
  background-color: black;
}

#face img {
  max-width: 100%;
}

@media all and (min-width: 37.5rem) {

.icons {
margin: auto;
text-align: center;
background-color: black;
}

.icons img {
  padding: .2rem;
  margin: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: .5rem;
  width: 3.5rem;
}

.about ul li {
  list-style: none;
  padding: .25rem;
  font-size: 1rem;
  color: white;
  margin: auto;
}

}

@media all and (min-width: 50rem) {

.about ul li {
  list-style: none;
  padding: .25rem;
  font-size: 1rem;
  color: white;
  margin: auto;
}

}


/*PROJECTS___________________________________________________*/

.project {
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 2rem;

}

.project img {
  max-width: 100%;

}

.project p {
  max-width: 100%;
  margin: auto;
  font-size: 1rem;
  font-family: 'Roboto';
  line-height: 1.5rem;
  padding: 1.5rem;
  padding-bottom: 2rem;
  text-align: left;
  color: white;
  margin: 0rem;
}

.projecthead {
  background-color: black;
  color: white;
  margin: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: 'Roboto';

}

.white {
  background-color: black;
  color: red;
  margin: 0rem;
}


@media all and (min-width: 37.5rem) {

.project img {
  max-width: 100%;
}

.project p {
  max-width: 95%;
  text-align: left;
  color: white;
  margin: auto;
}

.projecthead {
  color: white;
  margin: auto;
  font-size: 1.5rem;
}

}

@media all and (min-width: 50rem) {

.project div {
  max-width: 85%;
  /*padding-top: 1rem;*/
  margin: auto;
}

.project p {
  max-width: 55%;
  color: white;
  margin: 0rem;
  padding-left: 0rem;
}

}

/*SERVICES___________________________________________________*/

.services {
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.services ul {
  margin: 0rem;
  padding-left: 0rem;
  padding-top: 1rem;
}

.services li {
  list-style: none;
  text-align: center;
  font-family: 'Roboto';
  color: white;
  padding: .5rem;
}

.services img {
  width: 80%;
}

.service_header {
  font-size: 1.5rem;
  font-family: 'Roboto';
}

@media all and (min-width: 37.5rem) {

.services ul {
  margin-right: 3rem;
  margin-left: 3rem;
}

.services li {
  display: inline-block;
}

.services img {
  width: 90%;
}

}

@media all and (min-width: 50rem) {

.services img {
  width: 45rem;
}

.services ul {
  width: 45rem;
  margin: auto;
}

}






















