* { box-sizing: border-box; }
html {font-size: 100%}

* { box-sizing: border-box; }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);

body {
  font-family: Arial, sans-serif;
  padding: 0rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  max-height: 100%;
  padding: 0px;
  flex: 1 100%;
}


.header {
  background: red;
}

.header img {
	max-width: 30%; 
	padding: .5rem;
}

.footer {
  background: #000032;
  font-size: 1rem;
  color: white;
  padding: 1.5rem;
}

.main {
  text-align: left;
  background: white;
}

.main p {
	padding: 1rem;
	max-width: 100%;
}

.nav {
  background: black;
  text-align: center;
  padding: 1rem;
  display: flex;

}

.nav a {
	
}

.nav li {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: .5rem;
}

.imgs {
  background: white;
  padding: 1rem;
  flex-direction: column;

}

.imgs img {
	max-width: 20%;
	padding: .5rem;
	float: right;
	
}



@media (min-width: 37.5rem) {
.nav {
  background: black;
  padding: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;

}
  
  .header {
  background: red;
}

.header img {
	max-width: 30%; 
	padding: .5rem;
}

.main p {
	padding: 1.5rem;
	max-width: 50%;
	margin: auto;
}



  /*.aside { flex: 1 auto; }


*/}

@media (min-width: 60rem) {
 /* .main    {
     flex-grow: 3 times in size
       flex-shrink: 0 (do not shrink) 
    display: flex;
    flex-wrap: row;
}*/

.header img {
	max-width: 30%; 
	padding: .5rem;
}

.main p {
	padding: 1rem;
	max-height: 200px;
	
}

.header {
  background: red;
}

.header img {
	min-width: 50%; 
	padding: 1.2rem;
}