/*global rules*/

* { 
  box-sizing: border-box; 
}

html { 
  font-size: 100%; 
}

body {
  background-color: black;
  font: 100%/1.4 Arial, sans-serif;
}

header {
  background-color: red;
  color: white;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
}

.thumb {
  text-align: center;
  background-color: black;
  padding: 1rem;
}

.thumb2 {
  background-color: black;
}



.contain {
  background-color: white;
  margin: .5rem auto;
  padding: 1rem;
  width: 100%;
}

.portImg {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.portType {
  color: white;
  text-align: left;
}

.portType2 {
  color: white;
  text-align: center;
}

.block {
  max-width: 100%;
}


/* this is at a tablet display */

@media (min-width: 37.5rem) {
  /* 600px */
.contain {
    background-color: black;
    overflow: auto;
    width: 100%;
}

body {
    background-color: white;
    text-align: center;
}

header {
    text-align: center;
    color: white;
}

li {
    color: white;
    display: inline-block;
    padding: .5rem;
  }

h2 {
    color: white;
    font-size: 2rem;
}

h3 {
    color: white;
}



.portImg {
  color: white;
  margin: none;
  padding-top: 1rem;
}


.portType {
  color: white;
  text-align: center;
}




/* this is at desktop display */

@media (min-width: 60rem) {
  /* 960px */
  
.contain {
  background-color: white;
  color: black;
}

body {
    background-color: black;
}

header {
    background-color: red;
    text-align: center;
}

li {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
    font-size: 2rem;
}

.together {
  display: inline-block;
}

.portImg {
  color: white;
  margin: auto;
  font-size: 2rem;
  padding-bottom: 1.8rem;
}

.block {
  display: block;
  float: left;
  max-width: 50%;
}

.portType2 {
  display: inline-block;
  float: left;
  width: 40%;
}
